/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}









body * {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

button {
    transition: .2s;
    cursor: pointer;
}









header {
    height: 10vh;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid black; */
    /* background-color: lightgray; */
}

header h1 {
    font-family: 'Fira Code';
}

/* nav a {
    margin: 0 10px;
} */

.txt-btn {
    /* margin-left: 15px; */
    padding: 10px 15px;
	color: #1976d2;
	text-decoration: none;
	font-size: 16px;
	background: transparent;
    border: none;
    border-radius: 4px;
}

.txt-btn:hover {
    background: initial;
    color: white;
    background-color: #1976d2;
}



/* #logout-btn {
    margin-left: 15px;
    padding: 10px 15px;
	color: #1976d2;
	text-decoration: none;
	font-size: 16px;
	background: transparent;
	border: 2px solid #1976d2;
    border-radius: 4px;
}

#logout-btn:hover {
	color: #1667b8;
    border-color: #1667b8;
} */










main {
    height: 90vh;
    padding: 0 20px;
    background-color: #ebeced;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-input {
    width: 350px;
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
}

#references-container {
    width: 80%;
}

.reference-card {
    /* height: 80px; */
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
    border-radius: 6px;
    /* border: 1px solid black; */
    cursor: pointer;
}

.reference-card:hover {
    background-color: lightblue;
}

.reference-card:hover .card-actions {
    display: flex;
}

.card-title {
    margin-bottom: 10px;
}

.card-actions {
    /* display: none; */
    display: flex;
    align-items: center;
}

.card-btn {
    margin-left: 10px;
    padding: 10px 15px;
	/* text-decoration: none; */
	font-size: 16px;
    border-radius: 4px;
    background-color: white;
    /* box-sizing: border-box; */
}

.gray-outline-btn {
    color: gray;
    border: 2px solid gray;
}

.gray-outline-btn:hover {
    color: darkslategray;
    border: 2px solid darkslategray;
}

.red-outline-btn {
    color: red;
    border: 2px solid red;
}

.red-outline-btn:hover {
    color: darkred;
    border: 2px solid darkred;
    /* background-color: lightpink; */
}

/* .gray-solid-btn {
    color: white;
    background-color: gray;
    border: 2px solid gray;
} */

/* .red-solid-btn {
    color: white;
    background-color: red;
    border: 2px solid red;
} */











#add-form {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#add-form label {
    font-size: 20px;
    margin-bottom: 5px;
}

#add-form input, #add-form textarea {
    margin-bottom: 30px;
}

.form-btns button {
    margin: 0 20px;
}















.code-container {
    font-family: "Fira Code";
}











#auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#auth-content {
    width: 400px;
    margin-top: 100px;
    text-align: center;
}

#login-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#login-form input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

#auth-content a {
    font-size: 14px;
    color: #1976d2;
    text-decoration: none;
    /* text-decoration-color: rgba(25, 118, 210, 0.4); */
}

#auth-content a:hover {
    color: #1976d2;
    text-decoration: underline;
    /* text-decoration-color: inherit; */
}

#login-btn {
    padding: 10px;
    font-size: 16px;
}

.blue-btn {
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #1976d2;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}

.blue-btn:hover {
    background-color: #1667b8;
}

.line {
    margin: 30px 0;
    border: 1px solid lightgray;
}
